# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# frontend
node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
.env/
env/
ENV/
.env.*

# Database files
*.sqlite3
*.db

# Media files (ako čuvaš upload-ovane fajlove lokalno)
media/
uploads/

# Static files generisani od Django collectstatic
staticfiles/
static_cdn/
static_build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
